work/
airootfs/etc/passwd
airootfs/etc/shadow
airootfs/etc/group
airootfs/etc/hostname
airootfs/etc/env
airootfs/etc/environemt
airootfs/etc/pacman.d/gnupg
airootfs/etc/skel/.local/share/gnupg
airootfs/etc/skel/.local/share/pass
airootfs/etc/skel/.ssh
airootfs/etc/skel/.config/isync
airootfs/etc/skel/.config/msmtp
airootfs/etc/skel/.config/vdirsyncer
airootfs/etc/skel/.config/newsboat
airootfs/etc/skel/.config/mutt
airootfs/etc/skel/.config/gotify-dunst
airootfs/etc/skel/.config/zabbixmon
