[Unit]
Description=Check appointments
Wants=alarm.timer
[Service]
EnvironmentFile=/etc/env
ExecStart=/usr/bin/python ${HOME}/.local/bin/alarm.py
[Install]
WantedBy=multi-user.target
