[Unit]
Description=Sync mail
Wants=mail.timer
[Service]
EnvironmentFile=/etc/env
ExecStart=/bin/bash ${HOME}/.local/bin/sync-mail.sh
[Install]
WantedBy=multi-user.target
