[Unit]
Description=Change the wallpaper on timer activation
Wants=wallpaper.timer
[Service]
ExecStart=/bin/bash wallpaper.sh
[Install]
WantedBy=multi-user.target
